{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% load static %}

{% block content %}

<h1>ABOUT US</h1>
<p id="para">" Elevate Your Audio Experience With Our Cutting-Edge Earphones "</p>


{% endblock content %}

{% block body %}
<h1>About Us</h1>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mega project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="{% static '/assets/css/style0.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>  


    <!-------------  about us content -------- -->
    <section class="about-us">

        <div class="row">
          <div class="about-col">
           <h1> we are the world's number 1 Headset brand</h1>
           <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nam nemo eligendi architecto? Officia atque quos, consequuntur accusamus reprehenderit tempore doloribus exercitationem! Voluptatum mollitia temporibus, ipsum officiis corporis fugiat quos.</p>
           <br>
        
           <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error sed enim vel, consequatur harum omnis nihil ullam hic tempore voluptate!
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab cum autem fugiat molestias aperiam, 
           </p>
    
          </div>      
    <div class="about-col">
        <img src="{% static 'images/port.jpg' %}" alt="" class="img-fluid">

    </div>
</div>
    
    </section>

     
     <!-----------footer------------>
    

    
</body>
</html>

{% endblock body %}