{% extends 'base.html' %}
{% block title %}Profile Page{% endblock title %}
{% block body %}
<section id="portfolio" class="portfolio">
    <div class="container">
        <h1>My Profile</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Products</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Delivery Status</th>
                    <th scope="col">Delivered</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in items %}
                <tr>
                    <td>{{ i.order_id }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.items_json }}</td>
                    <td>{{ i.amount }}</td>
                    <td>{{ i.paymentstatus }}</td>
                    <td>{{ i.address1 }}</td>
                    <td>{{ i.phone }}</td>
                    {% for j in status %}
                    {% if j.order_id == i.order_id %}
                    <td>{{ j.update_desc }}</td>
                    <td>
                        {% if j.delivered %}
                        <i class="fa fa-check text-success"></i> Delivered
                        {% else %}
                        <i class="fa fa-truck text-warning"></i> Not Delivered
                        {% endif %}
                    </td>
                    <td>{{ j.timestamp }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock body %}
